@font-face{
  font-family: 'OpenSansCondensed';
  src: url('./fonts/OpenSansCondensed-Light.ttf');
}

*{
  font-family: 'OpenSansCondensed', monospace;
}

body {
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-areas: 
      'banner'
      'content'
      'footer';

  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(194, 21, 0), rgb(255, 197, 0));
}